<h2 class='text-center' style='color: white;'>车行管理</h2>
<div id="shops" style='color: white; a{color: yellow}'>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h4 class='text-right'>
        <span>
          <%= link_to '导出Excel', admin_shops_path(format: :xls),
            class: 'btn btn-info', id: 'excel'
          %>
        </span>
        <span>总计:<%= @shops_count if @shops_count %></span>
      </h4>
      <br>
      <div class="row">
        <table class='table text-left'>
            <tr>
              <th>店名</th>
              <th>地址</th>
              <th>洗车次数</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
          <tbody>
             <%= render @shops if @shops%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/paginate", locals: {collection: @shops}  %>
