<h2>
  <%= @car_brand.cn_name %>
  <span>
    <%= image_tag "car_brand_logos/#{@car_brand.img_url}" %>
  </span>

</h2>
<%= link_to "车品牌", admin_car_brands_path, style: "color: yellow;" %>
<div id="users">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="list-group">
      <% @car_brand.car_models.each do |cb| %>
         <button class="list-group-item" type="button">
           <%= cb.cn_name %>
           <span class="glyphicon glyphicon-remove pull-right" style="margin: 0 10px;"></span>
           <span class="glyphicon glyphicon-pencil pull-right"></span>
         </button>
      <% end %>
      </div>
      <button class="btn btn-success">新建</button>
    </div>
  </div>
</div>


