<h2 class='text-center' style='color: white;'>汽车品牌管理</h2>
<div id="users" style="background-color: white; color: black; a{color: blue;}">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <br>
      <div class="row">
        <div class='div'>
          <tbody>
            <%= render @car_brands if @car_brands%>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</div>
