// Place all the styles related to the ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sweetalert2";
html, body{
    width: 100%;
    height: 100%;
    font-size: 75px;
    padding: 0;
    margin: 0;
}
.bg_orange{
    background-color: #ff8a01
}
.txt_white{
    color: #fff;
}
.txt_orange{
    color: #ff8a01;
}

header{
    width: 100%;
    height: 1.173rem;
    line-height: 1.173rem;
    position: absolute;
    top: 0;
}
header span{
    font-size: 25.73px;
    vertical-align: middle;
    margin-left: 1rem;
}
header img{
    width: 1.44rem;
    vertical-align: middle;
}

.content{
    width: 100%;
    background-image: url('ads-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 1.173rem;
    bottom: 3.27rem;
}
.content .name_box{
    width: 6.76rem;
    height: 2.29rem;
    line-height: 12px;
    position: absolute;
    right: 0;
    bottom: 1.52rem;
    padding: 0.32rem 0 0 0.62rem;
}
.name_box .title{
    font-size: 46px;
    line-height: 1.1rem;
    font-weight: bold;
}
.name_box .name{
    font-size: 28px;
    line-height: auto;
}

footer{
    height: 3.27rem;
    bottom: 0;
    width: 100%;
    position: absolute;
    line-height: 3.27rem;
    text-align: center;
}
footer .footer_content{
    display: inline-block;
    text-align: left;
    line-height: 43.47px;
    vertical-align: middle;
}
footer .title{
    font-size: 60px;
    line-height: 80px;
    margin: 0;
    font-weight: bolder;
}
footer .txt{
    font-size: 28px;
    display: block;
    line-height: auto;
}
footer .btn{
    width: 3.82rem;
    height: 0.9rem;
    border-radius: 0.45rem;
    border: none;
    line-height: 0.68rem;
    text-align: center;
    background-color: #fff;
    color: #ff8a01;
    display: block;
    font-size: 28px;
    float: right;
    margin-top: 10px;
}
footer .btn:active{
    background-color: #efefef;
}

.form_box{
    width: 90%;
    // height: 6rem;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    font-size: 40px;
    padding: 10px;
}
.form_box .box{
    padding-left: 0.8rem;
    margin-bottom: 0.2rem;
}
.form_box .pic_box{
    margin-bottom: 0.5rem;
}
.pic_box img {
  height: 2rem;
  width:  2rem;
}
.pic_box span{
    vertical-align: middle;
}
.pic_box label{
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.pic_box label span{
    float: left;
}
.pic_box input{
    display: none;
}
.name_box input{
    width: 6rem;
    height: 60px;
    border: 1px solid #999;
    border-radius: 10px;
    vertical-align: middle;
    font-size: 26px;
    padding-left: 0.5rem;
}
.form_box h3{
    text-align: center;
    border-bottom: 2px solid #666;
    padding-bottom: 0.3rem;
    color: #333;
}
.form_box .submit{
    width: 100%;
    height: 1.3rem;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
}
