// Place all the styles related to the phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#verify-pin, #status-box {
  display: none;
}
html, body{
  height: 100%;
}
input, button{
  border: none;
}
body{
  background-color: #ddd;
  text-align: center;
}
.mainBox{
  background-color: #fff;
  width: 90%;
  border: 1px solid #aaa;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 1rem;
}
.topBox{
  padding: 0.3rem;
  text-align: left;
}
.topBox .title{
  font-size: 16px;
  color: #aaa;
  margin-bottom: 0.4rem;
}
.bottomBox{
  text-align: left;
  padding: 0.3rem;
}
.bottomBox .bottomTitle{
  margin: 0.3rem 0;
}
.bottomTitle p{
  line-height: 0.5rem;
}
.bottomTitle em{
  color: #aaa;
}
.inputBox{
  border-bottom: 1px solid #ddd;
  width: 90%;
  padding-left: 0.7rem;
  background-repeat: no-repeat;
  background-size: 0.5rem 0.5rem;
  height: 0.7rem;
  background-position: left center;
  margin-top: 0.5rem;
}
.inputBoxUser{
  background-image: url('./user@3x.png');
}
.inputBoxPhone{
  background-image: url('./phone@3x.png');
  margin-right: -2rem;
}
.inputBoxLock{
  background-image: url('./lock@3x.png');
}
.codeButton{
  width: 2rem;
  height: 0.7rem;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0.1rem;
  color: #666;
  position: relative;
  bottom: 0.1rem;
}

.submitButton{
  width: 98%;
  height: 1rem;
  background-color: #ff8a01;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 0.8rem 0;
}
