<h2 class='text-center' style='color: white;'>会员管理</h2>
<div id="users">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h4 class='text-right'>总计：<span><%= @users_count if @users_count %></span></h4>
      <br>
      <div class="row">
        <table class='table'>
            <tr>
              <th>姓名</th>
              <th>手机号</th>
              <th>类别</th>
              <th>上次登录日期</th>
              <th>操作</th>
            </tr>
          <tbody>
             <%= render @users if @users%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render partial: "paginate", locals: {collection: @users}  %>
