<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="嘻唰唰">
    <Table>
    <%= yield %>
    </Table>
  </Worksheet>
</Workbook>
